@model DMS3.Models.User
@{ ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style media="screen">
    *,
    *:before,
    *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #080710;
    }

    .background {
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

    .shape:first-child {
        background: linear-gradient( #1845ad, #23a2f6 );
        left: -80px;
        top: -80px;
    }

    .shape:last-child {
        background: linear-gradient( to right, #ff512f, #f09819 );
        right: -30px;
        bottom: -80px;
    }

    form {
        height: 480px;
        width: 1000px;
        background-color: rgba(255,255,255,0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 30px 35px;
    }


        form * {
            font-family: 'Poppins',sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

    label {
        display: block;
        flex: 2;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }

    .gr {
        display: flex
    }

    .gr-fill {
        display: block;
        width: 40%
    }

    .gr-autoRole {
        display: block;
        width: 60%;
        float: right
    }

    .gr-input {
        display: flex;
        position: relative;
        width: 100%;
        height: 48px
    }

    input, select {
        display: block;
        flex: 4;
        height: 40px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }

        select.rqchangeRole {
            height: 20px;
            width: 100%;
            font-size: 14px;
            font-weight: 100;
        }

        select option {
            color: #000
        }

    ::placeholder {
        color: #e5e5e5;
    }

    button {
        margin-top: 20px;
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .social {
        margin-top: 8px;
        display: flex;
    }

        .social div {
            background: red;
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px 10px 5px;
            background-color: rgba(255,255,255,0.27);
            color: #eaf0fb;
            text-align: center;
        }

            .social div:hover {
                background-color: rgba(255,255,255,0.47);
            }

        .social .fb {
            margin-left: 25px;
        }

        .social i {
            margin-right: 4px;
        }

    .verify_warning {
        color: red;
        font-size: 0.85rem;
    }

    .img {
        position: absolute;
        top: 34vh;
        left: 15%;
    }

    table {
        text-align: center;
        margin-left: 10px;
        margin-top: 10px;
        width: 100%;
        font-size: 14px;
        border: 1px dotted rgba(255,255,255,0.2);
    }

        table > tbody > tr > td:first-child {
            text-align: left
        }
</style>

<form method="post" action="/login/register">
    <h3 class="title">Your profile</h3>
    <p class="verify_warning">@ViewBag.err</p>
    <div class="gr">
        <div class="gr-fill">
            <div class="gr-input">
                <label for="username">Code</label>
                <input type="text" name="code" value="@Model.UserCode" placeholder="">
            </div>

            <div class="gr-input">
                <label for="name">Name</label>
                <input type="text" name="name" value="@Model.UserName" placeholder="">
            </div>
            <div class="gr-input">
                <label for="buyerCode">Buyer Code</label>
                <input type="text" name="buyerCode" value="@Model.BuyerCode" placeholder="">
            </div>
            <div class="gr-input">
                <label for="email">Email</label>
                <input type="email" name="email" value="@Model.Email" placeholder="">
            </div>
            <div class="gr-input">
                <label for="Dept">Department</label>
                @Html.DropDownList("DeptID", null, "", htmlAttributes: new { @class = "" })
            </div>
            <div class="gr-input">
                <label for="Dept">Grade</label>
                @Html.DropDownList("GradeID", null, "", htmlAttributes: new { @class = "" })
            </div>
        </div>
        <div class="gr-autoRole">
            <table id="tableRenderRoleGenarade">
                <thead>
                    <tr>
                        <th>Function</th>
                        <th>View</th>
                        <th>Issue</th>
                        <th>Check</th>
                        <th>Approve</th>
                        <th class="text-primary">Current Role</th>
                        <th>RQ Change</th>
                    </tr>
                </thead>
                <tbody class="tableRenderRoleGenarade">
                </tbody>
            </table>
        </div>
    </div>

    <button id="btn-register">Update Profile</button>
</form>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/CommonJS/UserCommonJS.js"></script>