@model DMS3.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeptID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeptID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MRRole)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MRRole)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TroubleRole)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TroubleRole)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PORole)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PORole)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TranferDieRole)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TranferDieRole)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DieLaunchRole)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DieLaunchRole)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isAdmin)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isAdmin)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isLock)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isLock)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isNew)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isNew)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserGradeCatergory.GradeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserGradeCatergory.GradeName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
